// ----------------------------------------------------------------------
//       import global utilities (functions, mixins, variables )
// ----------------------------------------------------------------------
@use '../abstract/functions' as fn;
@use '../abstract/mixins' as mx;
@use '../abstract/variables' as v;
@use '../base/typography' as t;

// ----------------------------------------------------------------------
//       Forward reusable UI
// ----------------------------------------------------------------------
@forward '../components/logo';
@forward '../components/button';
@forward '../components/link';

// ----------------------------------------------------------------------
//       Header layout
// ----------------------------------------------------------------------

// defines the overall header spacing and center navigation
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 2rem;
    @include mx.flex($justify: center, $align: center);
    padding: 0 9%;
    // transition: all 0.4s ease-in-out;
    background-color: v.$bg-primary;
}

// ----------------------------------------------------------------------
//       Header layout
// ----------------------------------------------------------------------
// Default navigation style for large screen
.nav {
    @include mx.flex($justify: space-between, $align: center);
    padding: 2rem 0;
    width: 100%;
    &__links-lg {
        @include mx.flex($justify: space-between);
        width: 36%;
        min-width: 400px;
    }

    // hide element when required
    &--disabled {
        display: none;
    }

    // highlight the active navigation link
    &--active a {
        color: v.$color-primary;
    }
}

// hide hamburger menu on desktop
@media (min-width: v.$breakpoint-tablet) {
    .nav__menu {
        display: none;
    }
    .aside {
        display: none;
    }
}

// ----------------------------------------------------------------------
//       Tablet Layout
// ----------------------------------------------------------------------
// Switches from horizontal navigation to compact layout
@media (width <= v.$breakpoint-tablet) {
    .header {
        margin-top: 0;
        padding: 0 6.25%;
        @include mx.grid($cols: 1);
    }

    .aside {
        display: block;
    }

    .nav {
        position: relative;

        // display hamburger menu.
        &__menu {
            display: block;
            cursor: pointer;
        }
        // hide desktop navigation links.
        &__links-lg {
            display: none;
        }
        // keep logo center
        &__logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

// ----------------------------------------------------------------------
//       Mobile Layout
// ----------------------------------------------------------------------
// Optimize navigation spacing and positioning for phones.
@media (max-width: v.$breakpoint-mobile) {
    .header {
        padding: 0 4.5%;
    }

    .aside {
        display: block;
    }

    .nav {
        @include mx.flex($direction: row-reverse, $justify: space-between);
        position: static;
        padding: 2.3rem 0;

        // hide authentication button on mobile.
        &__auth {
            background: #000;
            display: none;
            left: 0;
        }

        // position logo near the left edge.
        &__logo {
            left: 3.7%;
            transform: translateX(0%);
        }
    }
}

// ----------------------------------------------------------------------
//       Mobile Sidebar (Hamburger Menu)
// ----------------------------------------------------------------------
// style the slide-out navigation shown on smaller screen
.aside {
    position: absolute;
    z-index: 2000;
    top: 0;
    max-width: v.$breakpoint-mobile;
    width: 100%;
    height: 100dvh;
    background-color: v.$bg-primary;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0px 32px rgba(31, 38, 135, 0.37);

    // navigation links container
    &__links {
        @include mx.grid($cols: 1);
        position: relative;
        top: 1rem;
    }

    // navigation links
    & a {
        display: block;
        padding: 1rem;
        color: v.$color-primary;
    }

    // Hover effect for sidebar items.
    & li:hover {
        transform: translateY(-2px);
        box-shadow:
            inset 0 1px 1px rgba(255, 255, 255, 0.4),
            0 4px 15px rgba(0, 0, 0, 0.1);
    }

    & button {
        @include t.heading-md();
        width: 100%;
        background-color: v.$color-accent;
    }
}

// ----------------------------------------------------------------------
//       Sidebar Visibility Utility
// ----------------------------------------------------------------------
// Hides the sidebar until it toggled open
.aside--disabled {
    display: none;
}

// remove this .
.test {
    height: 1200px;
    margin-top: 500px;
    width: 100%;
    background-color: v.$color-warning;
}
