// ----------------------------------------------------------------------
//       import global utilities (functions, mixins, variables )
// ----------------------------------------------------------------------
@use '../abstract/functions' as fn;
@use '../abstract/mixins' as mx;
@use '../abstract/variables' as v;
@use '../base/typography' as t;

// ----------------------------------------------------------------------
//       Forward reusable UI
// ----------------------------------------------------------------------
@forward '../components/button';

.hero {
    position: relative;
    padding: 0 9%;
    @include mx.grid-aria($cols: 35% 65%, $breakpoint: v.$breakpoint-tablet);

    &__ellipse {
        top: 12rem;
        left: 12rem;
        position: absolute;
        opacity: 0.5;

        filter: blur(50px);
        transform: rotate(0deg);
        box-shadow: 0 0 300px 250px rgba(255, 87, 34, 0.8);
    }

    &__badge {
        width: 224px;
        height: 56px;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        padding: 16px 32px;
        border-radius: 100px;

        opacity: 1;
        transform: rotate(0deg);

        box-shadow:
            0px 0px 0px 0px rgba(0, 0, 0, 0.07),
            0px 34px 75px 0px rgba(0, 0, 0, 0.07),
            0px 137px 137px 0px rgba(0, 0, 0, 0.06),
            0px 308px 185px 0px rgba(0, 0, 0, 0.04),
            0px 548px 219px 0px rgba(0, 0, 0, 0.01),
            0px 856px 240px 0px rgba(0, 0, 0, 0);
    }
}
