// ----------------------------------------------------------------------
//       import global utilities (functions, mixins, variables )
// ----------------------------------------------------------------------
@use '../abstract/functions' as fn;
@use '../abstract/mixins' as mx;
@use '../abstract/variables' as v;
@use '../base/typography' as t;

// ----------------------------------------------------------------------
//       Header layout
// ----------------------------------------------------------------------
.nav {
    @include mx.flex($justify: space-between, $align: center);
    padding: 2rem 0;
    width: 100%;
    &__links--desktop {
        @include mx.flex($justify: space-between);
        width: 36%;
        min-width: 400px;
    }

    // highlight the active navigation link
    &--active a {
        color: v.$color-primary;
    }

    // hide hamburger menu on desktop
    @media (min-width: v.$breakpoint-tablet) {
        &__menu {
            display: none;
        }
    }

    @media (width <= v.$breakpoint-tablet) {
        position: relative;

        // display hamburger menu.
        &__menu {
            display: block;
            cursor: pointer;
        }
        // hide desktop navigation links.
        &__links--desktop {
            display: none;
        }
    }

    @media (max-width: v.$breakpoint-mobile) {
        @include mx.flex($direction: row-reverse, $justify: space-between);
        position: static;
        padding: 2.3rem 0;

        // hide authentication button on mobile.
        &__auth {
            display: none;
            left: 0;
        }
    }
}
