@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;
@use '../base/typography' as t;

@forward '../components/wheel';
@forward '../components/deal';

.special-deals {
    min-width: 360px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5001;
    border-radius: 24px 24px 0 0;
    background-color: v.$bg-primary;
    padding: 24px;

    transition: transform 0.3s ease-in-out;

    @include mx.flex($direction: column, $align: center, $gap: 20px);

    &__alert {
        position: absolute;
        z-index: 5002;
        padding: 5px 10px;
        border-radius: 5px;
        left: 10px;
        top: 10px;
        background-color: v.$color-warning;
        color: v.$bg-primary;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        animation: slideInRight 0.3s ease-out forwards;
    }

    @keyframes slideInRight {
        from {
            transform: translateX(-30%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__slide-down {
        transform: translate(-50%, 100%);
    }

    &--hidden {
        display: none;
    }

    &__close-btn {
        width: max-content;
        padding: 3px;
        position: absolute;
        top: 19px;
        right: 23px;
    }

    &__close-btn:active {
        transform: scale(0.92);
    }

    &__wheel-container {
        margin: 0 auto;
        height: 236px;
        width: 227px;
        position: relative;
    }

    &__caret-down {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -12px;
        font-size: 1.5rem;
        z-index: 5002;
        width: max-content;
    }

    &__greet {
        text-align: center;
        margin-bottom: 5px;
        @include t.text-link;
    }

    &__badge-btn {
        min-width: 312px;
        border: 1px solid v.$color-bg-muted;
        max-width: 312px;
        height: 49px;
        @include t.text-link;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        transition: transform 0.1s ease-in;
    }

    &__badge-btn:hover {
        transform: translateY(-2px);
    }
    &__badge-btn:active {
        transform: scale(0.92);
    }

    &__badge {
        background-color: v.$color-brand-pop;
        padding: 3px 8px;
        display: block;
        border-radius: 100%;
    }

    @media (min-width: v.$breakpoint-desktop) {
        bottom: 70px;
        border-radius: 24px;
        transition: none;

        &__slide-down {
            transform: translate(-50%, 0);
        }
    }
}
