// ----------------------------------------------------------------------
//       import global utilities (functions, mixins, variables )
// ----------------------------------------------------------------------
@use '../abstract/functions' as fn;
@use '../abstract/mixins' as mx;
@use '../abstract/variables' as v;
@use '../base/typography' as t;

// ----------------------------------------------------------------------
//       Forward reusable UI
// ----------------------------------------------------------------------
@forward '../components/logo';
@forward '../components/button';
@forward '../components/link';

// ----------------------------------------------------------------------
//       Header layout
// ----------------------------------------------------------------------
.nav {
    @include mx.flex($justify: space-between, $align: center);
    padding: 2rem 0;
    width: 100%;
    &__links--desktop {
        @include mx.flex($justify: space-between);
        width: 36%;
        min-width: 400px;
    }

    // highlight the active navigation link
    &--active a {
        color: v.$color-primary;
    }
}

// hide hamburger menu on desktop
@media (min-width: v.$breakpoint-tablet) {
    .nav__menu {
        display: none;
    }
}

// ----------------------------------------------------------------------
//       Tablet Layout
// ----------------------------------------------------------------------
// Switches from horizontal navigation to compact layout
@media (width <= v.$breakpoint-tablet) {
    .header {
        margin-top: 0;
        padding: 0 6.25%;
        @include mx.grid($cols: 1);
    }

    .nav {
        position: relative;

        // display hamburger menu.
        &__menu {
            display: block;
            cursor: pointer;
        }
        // hide desktop navigation links.
        &__links--desktop {
            display: none;
        }
        // keep logo center
        & .logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

// ----------------------------------------------------------------------
//       Mobile Layout
// ----------------------------------------------------------------------
// Optimize navigation spacing and positioning for phones.
@media (max-width: v.$breakpoint-mobile) {
    .nav {
        @include mx.flex($direction: row-reverse, $justify: space-between);
        position: static;
        padding: 2.3rem 0;

        // hide authentication button on mobile.
        &__auth {
            background: #000;
            display: none;
            left: 0;
        }

        // position logo near the left edge.
        & .logo {
            left: 3.7%;
            transform: translateX(0%);
        }
    }
}
