// ----------------------------------------------------------------------
//       import global utilities (functions, mixins, variables )
// ----------------------------------------------------------------------
@use '../abstract/mixins' as mx;
@use '../abstract/variables' as v;
@use '../base/typography' as t;

// ----------------------------------------------------------------------
//       Forward reusable UI
// ----------------------------------------------------------------------
@forward '../components/button';
@forward '../components/link';

// hide hamburger menu on desktop
@media (min-width: v.$breakpoint-tablet) {
    .sidebar {
        display: none;
    }
}

// ----------------------------------------------------------------------
//       Tablet Layout
// ----------------------------------------------------------------------
@media (width <= v.$breakpoint-tablet) {
    .sidebar {
        display: block;
    }
}

// ----------------------------------------------------------------------
//       Mobile Sidebar (Hamburger Menu)
// ----------------------------------------------------------------------
.sidebar {
    position: fixed;
    z-index: 2000;
    top: 0;
    max-width: v.$breakpoint-mobile;
    width: 100%;
    height: 100dvh;
    background-color: v.$bg-primary;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0px 32px rgba(31, 38, 135, 0.37);

    // navigation links container
    &__links {
        @include mx.grid($cols: 1);
        position: relative;
        top: 1rem;
    }

    // navigation links
    & a {
        display: block;
        padding: 1rem;
        color: v.$color-primary;
    }

    // Hover effect for sidebar items.
    & li:hover {
        transform: translateY(-2px);
        box-shadow:
            inset 0 1px 1px rgba(255, 255, 255, 0.4),
            0 4px 15px rgba(0, 0, 0, 0.1);
    }

    & button {
        @include t.heading-md();
        width: 100%;
        background-color: v.$color-accent;
    }
}

// ----------------------------------------------------------------------
//       Sidebar Visibility Utility
// ----------------------------------------------------------------------
.sidebar--disabled {
    display: none;
}
