@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;
@use '../base/typography' as t;

.brand-card {
    @include mx.flex($direction: column, $gap: 32px);

    &__heading {
        @include mx.flex($align: center, $gap: 16px);
    }

    &__title {
        @include t.heading-secondary;
        cursor: pointer;
    }
    &__description {
        @include t.text;
    }

    @media (min-width: v.$breakpoint-tablet) {
        gap: 28px;

        &__description {
            @include t.text-bold;
        }
    }

    @media (min-width: v.$breakpoint-desktop) {
        &__heading {
            gap: 16px;
        }
    }
}
