@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;
@use '../abstract/functions' as fn;
@use '../base/typography' as t;

.btn {
    @include t.text-link();

    border-radius: v.$radius-pill;
    padding: 24px 64px;
    color: v.$color-primary;
    cursor: pointer;

    &--primary {
        background-color: v.$color-brand-pop;
        color: v.$color-bg-muted;
    }
    &:hover {
        box-shadow: v.$shadow-sm;
    }

    &--secondary {
        @include mx.flex($justify: center, $align: center, $gap: 8px);

        background-color: v.$color-bg-muted;
    }

    &--rounded {
        @include mx.flex($justify: center, $align: center);
        padding: 0;
        width: 43px;
        height: 43px;
        border-radius: 100px;
        position: absolute;
        text-align: center;
        font-size: fn.rem(10px);
        top: 50%;
        left: 50%;
        border: 3px solid v.$color-accent;
        color: v.$color-accent;
        background-color: v.$bg-primary;
        transform: translate(-50%, -50%);
        border-radius: 48px;
        cursor: pointer;
    }

    &--rounded:active {
        background-color: v.$color-warning;
        color: v.$bg-backdrop;
    }
    &--close {
        width: max-content;
        padding: 3px;
        position: absolute;
        top: 19px;
        right: 23px;
        cursor: pointer;
    }

    &--close:active {
        transform: scale(0.92);
    }

    &--badge {
        min-width: 312px;
        border: 1px solid v.$color-bg-muted;
        max-width: 312px;
        height: 49px;
        @include t.text-link;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    &--badge-btn:hover {
        transform: translateY(-2px);
    }
    &--badge-btn:active {
        transform: scale(0.92);
    }

    @media (max-width: v.$breakpoint-mobile) {
        padding: 24px 32px;
        width: 100%;
    }
    @media (width > v.$breakpoint-mobile) {
        padding: 16px 32px;
    }
}
