@use '../abstract/variables' as v;
@use '../base/typography' as t;
@use '../abstract/mixins' as mx;

.nav-group {
    &__title {
        @include t.heading-custom(23px, 23px, 23px);
    }

    &__list {
        margin-top: 16px;
        @include mx.flex($direction: column, $gap: 32px);
    }

    &__item {
        color: v.$text-secondary;
        @include t.text-md;
    }

    &__list--disable-company {
        display: none;
    }
    &__list--disable-contact {
        display: none;
    }
    &__contact::after {
        content: 'Contact Us';
    }

    @media (min-width: v.$breakpoint-tablet) {
        min-width: 277px;
        @include mx.flex($direction: column, $gap: 32px);

        &__list--disable-company {
            display: block;
        }
        &__list--disable-contact {
            display: block;
        }

        &__list {
            margin-top: 0;
            @include mx.flex($direction: column, $gap: 32px);
        }

        &__contact::after {
            content: 'Contact';
        }
    }
    @media (min-width: v.$breakpoint-desktop) {
        min-width: 166px;
    }
}
