@use '../abstract/mixins' as mx;
@use '../abstract/functions' as fn;

.rating {
    @include mx.flex($gap: 16px, $justify: center);
    &__item {
        width: fn.rem(32px);
        height: fn.rem(32px);
        font-size: fn.rem(28px);
    }
}
