@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;

.social-media {
    width: 160px;
    @include mx.flex($justify: space-between, $align: center);

    &__link--facebook {
        font-size: 2rem;
    }

    &__link:hover {
        box-shadow: v.$shadow-sm;
    }
}
