@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;

.social-media {
    width: 160px;
    @include mx.flex($justify: space-between, $align: center);

    &media__item {
        width: 32px;
        height: 32px;
        padding: 8px;
    }

    &__link--facebook {
        font-size: 32px;
    }

    &__link--twitter {
        background-color: v.$color-brand-pop;
        padding: 8px;
        border-radius: 50%;
        text-align: center;
    }
    &__link--instagram {
        background-color: v.$color-brand-pop;
        padding: 8px;
        border-radius: 50%;
        text-align: center;
    }
}
