@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;
@use '../base/typography' as t;

.stat-card {
    @include mx.flex($direction: column, $gap: 16px);
    border-radius: 32px;
    padding: 32px;
    border: 1px solid v.$text-muted-lite;
    &__number {
        display: block;
        color: v.$color-warning;
        text-align: center;
        @include t.text-data;
    }
    &__label {
        display: block;
        text-align: center;
        @include t.text-md;
    }
}
