@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;
@use '../abstract/functions' as fn;
@use '../base/typography' as t;

.user {
    @include mx.flex($direction: column, $gap: 64px);

    &__avatar {
        margin: 0 auto;
    }
    &__info {
        text-align: center;
        @include mx.flex($direction: column, $gap: 32px);
    }
    &__name {
        color: v.$color-warning;
        @include t.heading-primary;
    }
    &__name--secondary {
        color: v.$text-secondary;
        font-size: fn.rem(23px);
    }
    &__comment {
        color: v.$text-secondary;
        text-align: center;
        @include t.text-bold;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (min-width: v.$breakpoint-tablet) {
        gap: 56px;
        &__comment {
            max-width: 600px;
            margin: 0 auto;
            @include t.text-bold;
        }
    }

    @media (min-width: v.$breakpoint-desktop) {
        &__comment {
            max-width: 800px;
            margin: 0 auto;
            @include t.text-bold;
        }
    }
}
