@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;
@use '../abstract/functions' as fn;
@use '../base/typography' as t;

@forward '../components/text';

.wheel {
    width: fn.rem(227px);
    height: fn.rem(227px);
    border-radius: v.$radius-xl;

    transition: transform 2s cubic-bezier(0.1, 0.8, 0.3, 1);

    transform-origin: center;

    &__loading {
        background-color: v.$color-bg-muted;
        color: v.$bg-backdrop;
        @include mx.flex($justify: center, $align: center);

        @include t.text-link;
    }

    &__loaded {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        grid-template-rows: auto;

        background-color: v.$bg-primary;
        border: 2px solid v.$bg-primary;
        box-shadow: v.$wheel-shadow;
        position: relative;
    }

    &__item {
        width: fn.rem(110px);
        height: fn.rem(110px);
        @include mx.flex($justify: center, $align: center);

        @include t.text-link();
        color: v.$bg-primary;
    }

    &__item--top {
        border-radius: 100% 0 0 0;
        background-color: v.$color-accent;
    }
    &__item--left {
        border-radius: 0 0 100% 0;
        background-color: v.$color-amber;
    }
    &__item--right {
        background-color: v.$color-brand-pop;
        border-radius: 0 100% 0 0;
    }
    &__item--bottom {
        background-color: v.$color-sky-dark;
        border-radius: 0 0 0 100%;
    }
}
