// imports,uses
@use './functions' as fn;

//  --------------- global Var ---------------
<<<<<<< HEAD
$bg-primary: #ffffff;
=======
$bg-color: #ffffff;

$btn-padding: 1rem 2rem;

// circular-std font style
$font-circular-std: 'Circular Std', sans-serif;
>>>>>>> 74f62b0 ([KR_A1_02]: add header secrtion)

// Used in the header for the active nav-link, login, and live demo.
$color-primary: #222831;

// used to describe the title.
$text-muted: #19182580;

// Used in Hero, Highlights, and Testimonials.
$color-accent: #f85e9f;

// Breakpoints for different screen sizes.
$breakpoint-mobile: 430px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;

<<<<<<< HEAD
// --------------- Header Section --------------- 
$color-brand-pop: #5d50c6;

// --------------- Hero Section ---------------
// Used in the Hero section's large text.
$text-dark-display: #000000;
$color-bg-muted: #eeeeee;

// --------------- Testimonial  ---------------
// Used in the Testimonials card description.
$text-secondary: #191825bf;

// used in the Testimonial Data color.
$color-warning: #ff5722;

// Used only in the Testimonials title.
$text-primary: #191825;
=======
// padding on each side of the section
$section-padding: 4rem 0;

//----------------------------------------------
//             Header Section
//----------------------------------------------

$font-size: 14px;
$logo-Width: 40px;
$link-weight: 700;
$nav-gap: 4rem;
$nav-links-max-width: 428px;
$bg-primary: #5d50c6;
$nav-padding: 2rem 0;

//----------------------------------------------
//             Hero Section
//----------------------------------------------
$hero-content-gap: fn.rem(43px);
$font-size: fn.rem(18px);
$title-font: fn.rem(69px);
$btn-color: #eeeeee;

//----------------------------------------------
//             Brand Section
//----------------------------------------------
$brand-height-md: 2rem;
$brand-height-sm: fn.rem(20px);

//----------------------------------------------
//             Travel Section
//----------------------------------------------

$travel-point-gap: 2rem;
>>>>>>> 74f62b0 ([KR_A1_02]: add header secrtion)
