// imports,uses
@use './functions' as fn;

$bg-primary: #ffffff;
$bg-backdrop: #00000080;
$color-bg-muted: #eeeeee;
$color-accent: #f85e9f;
$color-brand-pop: #5d50c6;
$color-primary: #222831;
$color-warning: #ff5722;
$color-amber: #fbbf24;
$color-sky-dark: #06b6d4;

// -----------------------------------
$text-dark-display: #000000;
$text-muted: #19182580;
$text-primary: #191825;
$text-secondary: #191825bf;
$text-muted-lite: #1918251a;
$shadow-sm: 0 0 3px #00000060;

$radius-xl: 170px;

// Breakpoints for different screen sizes.
$breakpoint-mobile: 430px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;
