// 1. Global Box Sizing Reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// 3. Typography & Media Reset
img,
svg {
    display: block;
    max-width: 100%;
}

// 4. Element Specific Resets
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

// links which don't need underline
.a {
    &--none {
        text-decoration: none;
    }
}

// li item which don't have default bullet point symbol.
.li {
    &--none {
        list-style: none;
    }
}

// remove default border and color.
.btn {
    &--none {
        border: none;
        color: inherit;
    }
}
