@use '../abstract/functions' as fn;
@use '../abstract/variables' as v;

@mixin heading-xl() {
    font-size: fn.rem(40px);
    font-weight: 700;
    line-height: 120%;
    font-family: 'Circular Std', sans-serif;
    @media (width > v.$breakpoint-mobile) {
        font-size: fn.rem(56px);
    }
    @media (width > v.$breakpoint-tablet) {
        font-size: fn.rem(69px);
    }
}

@mixin heading-lg() {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    font-family: 'Circular Std', sans-serif;
    @media (width > v.$breakpoint-mobile) {
        font-size: fn.rem(40px);
    }
    @media (width > v.$breakpoint-tablet) {
        font-size: fn.rem(44px);
    }
}

@mixin heading-md() {
    font-size: fn.rem(16px);
    font-weight: 700;
    line-height: 120%;
    font-family: 'Circular Std', sans-serif;
    @media (width > v.$breakpoint-mobile) {
        font-size: fn.rem(23px);
    }
}

@mixin text() {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    font-family: 'Inter', sans-serif;
    @media (width > v.$breakpoint-mobile) {
        font-size: fn.rem(18px);
    }
}
@mixin text-md() {
    font-size: fn.rem(18px);
    font-weight: 400;
    line-height: 160%;
    font-family: 'Inter', sans-serif;
}

@mixin text-data() {
    font-size: fn.rem(35px);
    font-weight: 700;
    line-height: 120%;
    font-family: 'Circular Std', sans-serif;
}

@mixin text-link() {
    font-size: fn.rem(14px);
    font-weight: 700;
    line-height: 120%;
    font-family: 'Circular Std', sans-serif;
}
@mixin text-bold() {
    font-size: 1rem;
    font-weight: 450;
    line-height: 160%;
    font-family: 'Circular Std', sans-serif;
    @media (width > v.$breakpoint-mobile) {
        font-size: fn.rem(23px);
    }
}
