@use '../abstract/functions' as fn;

@mixin heading-xl($size: 23px) {
    font-size: fn.rem($size);
    font-weight: 700;
    line-height: 120%;
    font-family: 'Circular Std', sans-serif;
}

@mixin text-sm($size: 23px) {
    font-size: $size;
    font-weight: 400;
    line-height: 160%;
    font-family: 'Inter', sans-serif;
}

@mixin heading-md {
    font-weight: 450;
    font-size: fn.rem(23px);
    line-height: 160%;
    font-family: 'Circular Std', sans-serif;
}
